{% extends "base.html" %}
{% block title %}List{% endblock %}
{% block body %}
<div class="container">
<table id="table" class="u-full-width": style="margin-top: 10%">
    <thead>
        <th>Name</th>
        <th>Level</th>
        <th>Points</th>
    </thead>
    <tbody>
    <tr>
        <td>Dave Gamache</td>
        <td>26</td>
        <td>2847</td>
    </tr>
    <tr>
        <td>Donald Trump</td>
        <td>238</td>
        <td>142</td>
    </tr>
    <tr>
        <td>Dwayne Johnson</td>
        <td>42</td>
        <td>1847</td>
    </tr>
    </tbody>
</table>
</div>
{% endblock %}
